
<div class="page-header">
<form class="form-inline" role="form">
<span class="form-group">
  <input type="text" ng-model="presenter" class="form-control" style="width: 300px;"
  placeholder="Presenter" >
  <input type="text"class="form-control" style="width: 400px;"
  placeholder="Topic"  ng-model="topic" >
 </span>
<div class="btn-group">
	<a class=" btn btn-primary btn-sm" ng-click="addWidget()"><i class="glyphicon glyphicon-plus"></i> Add Topic</a>
	<a class=" btn btn-sm"
  ng-click="clear()"><i class="glyphicon glyphicon-trash"></i>
  Clear</a>
    </div>
<div class="btn-group">
	<a class=" btn btn-sm" ng-click="removeColumn()"><i class="glyphicon glyphicon-arrow-left"></i></a>
	<a class=" btn btn-sm" ng-click="addColumn()"><i class="glyphicon glyphicon-arrow-right"></i></a>
</div>
</form>

</div>
<div gridster="gridsterOptions">
	<ul>
		<li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
			<div class="box" ng-controller="CustomWidgetCtrl">
				<div class="box-header">
					<h5>{{ widget.name }}</h5>
					<div class="box-header-btns pull-right">
						<a title="Settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
						<a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
					</div>
				</div>
				<div class="box-content">
				  {{widget.title}}
				</div>
			</div>
		</li>
	</ul>
</div>
